<VirtualHost *:[% config.port %]>
    PerlSetVar site [% site %]
    ServerName [% config.site.${site}.servername %]
    [% expandServerAliases( config.site.${site}.aliases ) %]
    #PerlTransHandler Combust::Redirect->super

	DocumentRoot /tmp/foo/

    PerlModule Trivial::Control::One
    <Location /one>
       SetHandler perl-script
       PerlResponseHandler Trivial::Control::One->super
    </Location>

    <Location />
       SetHandler perl-script
       PerlResponseHandler Combust::Control::Basic->super
    </Location>

    PerlModule +Trivial::Control::Two
    <Location /two>
       SetHandler perl-script
       PerlResponseHandler Trivial::Control::Two->super
    </Location>

    <Location /two/redirect>
       SetHandler perl-script
       PerlResponseHandler Trivial::Control::Two->super
    </Location>

</VirtualHost>
