[% dont_edit # add warning; do edit *THIS* file.. ;-) %]

#
# httpd.tmpl - 
# 
#   this is the template file for the Apache httpd.conf used for the
#   Combust apache1 process.  You generally do not want to edit this
#   file, as it is just a template.  
#   In real-life, you may have to edit it to get things just right for
#   your system.  Before doing that, try creating a 'local.tmpl' file
#   in your apache/conf directory.  It will be processed before the
#   virtual hosts are read it.
#   If you do make changes to this file, be wary of merge conflicts
#   when updating it.  Also, consider submitting them (or the "need")
#   back to the developers, so they can consider making it more easily
#   configurable in a future release.

ServerRoot "[% root_default %]/apache/"
LockFile [% root_default %]/apache/logs/httpd.lock
PidFile [% root_default %]/apache/logs/httpd.pid
ScoreBoardFile [% root_default %]/apache/logs/httpd.scoreboard
Timeout 300
KeepAlive Off
MinSpareServers 1
MaxSpareServers 5
StartServers 3
MaxClients 5
MaxRequestsPerChild 500
Listen [% config.port %]

CoreDumpDirectory [% root_default %]/apache/

PerlPassEnv CBROOT
PassEnv     CBROOT
PerlPassEnv CBROOTLOCAL
PassEnv     CBROOTLOCAL

#LoadModule env_module         libexec/apache/mod_env.so
#LoadModule config_log_module  libexec/apache/mod_log_config.so
#LoadModule mime_magic_module  libexec/apache/mod_mime_magic.so
#LoadModule mime_module        libexec/apache/mod_mime.so
#LoadModule negotiation_module libexec/apache/mod_negotiation.so
#LoadModule status_module      libexec/apache/mod_status.so
#LoadModule info_module        libexec/apache/mod_info.so
#LoadModule autoindex_module   libexec/apache/mod_autoindex.so
#LoadModule dir_module         libexec/apache/mod_dir.so
#LoadModule cgi_module         libexec/apache/mod_cgi.so
#LoadModule action_module      libexec/apache/mod_actions.so
#LoadModule userdir_module     libexec/apache/mod_userdir.so
#LoadModule alias_module       libexec/apache/mod_alias.so
#LoadModule rewrite_module     libexec/apache/mod_rewrite.so
#LoadModule access_module      libexec/apache/mod_access.so
#LoadModule auth_module        libexec/apache/mod_auth.so
#LoadModule expires_module     libexec/apache/mod_expires.so
#LoadModule headers_module     libexec/apache/mod_headers.so
#LoadModule unique_id_module   libexec/apache/mod_unique_id.so
#LoadModule setenvif_module    libexec/apache/mod_setenvif.so
#LoadModule perl_module        libexec/apache/libperl.so

#MimeMagicFile /home/perl/apache1/conf/magic

ExtendedStatus On
Port 80
serveradmin ask@perl.org
ServerName [% config.servername %]

# valid empty directory
DocumentRoot "[% root_default %]/tmp/htdocs"  
<Directory />
    Options FollowSymLinks 
    AllowOverride None
</Directory>

#<Directory "[% root_default %]/htdocs">
#    Options Indexes FollowSymLinks MultiViews
#    AllowOverride none
#    Order allow,deny
#    Allow from all
#</Directory>


<IfModule mod_dir.c>
    DirectoryIndex index index.html
</IfModule>

AccessFileName .htaccess
<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
</Files>

UseCanonicalName Off

DefaultType text/html
HostnameLookups Off

ErrorLog [% root_default %]/apache/logs/error_log
LogLevel warn

LogFormat "%h %V %u %t %{site}n \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %V %u %t \"%r\" %>s %b" common

CustomLog [% root_default %]/apache/logs/access_log combined
ServerSignature Off

 # <IfModule mod_alias.c>
    Alias /icons/ "/var/www/icons/"
    <Directory "/var/www/icons/">
        Options Indexes MultiViews
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>

    ScriptAlias /cgi-bin/ "[% root_default %]/apache/cgi-bin/"
    <Directory "[% root_default %]/apache/cgi-bin">
        AllowOverride None
        Options None
        Order allow,deny
        Allow from all
    </Directory>

# </IfModule>


# Redirect old-URI new-URL

<IfModule mod_autoindex.c>
    IndexOptions FancyIndexing NameWidth=*
    AddIconByEncoding (CMP,/icons/compressed.gif) x-compress x-gzip

    AddIconByType (TXT,/icons/text.gif) text/*
    AddIconByType (IMG,/icons/image2.gif) image/*
    AddIconByType (SND,/icons/sound2.gif) audio/*
    AddIconByType (VID,/icons/movie.gif) video/*

    AddIcon /icons/binary.gif .bin .exe
    AddIcon /icons/binhex.gif .hqx
    AddIcon /icons/tar.gif .tar
    AddIcon /icons/world2.gif .wrl .wrl.gz .vrml .vrm .iv
    AddIcon /icons/compressed.gif .Z .z .tgz .gz .zip
    AddIcon /icons/a.gif .ps .ai .eps
    AddIcon /icons/layout.gif .html .shtml .htm .pdf
    AddIcon /icons/text.gif .txt
    AddIcon /icons/c.gif .c
    AddIcon /icons/p.gif .pl .py
    AddIcon /icons/f.gif .for
    AddIcon /icons/dvi.gif .dvi
    AddIcon /icons/uuencoded.gif .uu
    AddIcon /icons/script.gif .conf .sh .shar .csh .ksh .tcl
    AddIcon /icons/tex.gif .tex
    AddIcon /icons/bomb.gif core

    AddIcon /icons/back.gif ..
    AddIcon /icons/hand.right.gif README
    AddIcon /icons/folder.gif ^^DIRECTORY^^
    AddIcon /icons/blank.gif ^^BLANKICON^^
    DefaultIcon /icons/unknown.gif

    ReadmeName README
    HeaderName HEADER
    IndexIgnore .??* *~ *#  RCS CVS *,v *,t
      # HEADER* README*

</IfModule>

<IfModule mod_mime.c>
    AddEncoding x-compress Z
    AddEncoding x-gzip gz tgz
    AddLanguage da .dk
    AddLanguage nl .nl
    AddLanguage en .en
    AddLanguage et .ee
    AddLanguage fr .fr
    AddLanguage de .de
    AddLanguage el .el
    AddLanguage he .he
    AddCharset ISO-8859-8 .iso8859-8
    AddLanguage it .it
    AddLanguage ja .ja
    AddCharset ISO-2022-JP .jis
    AddLanguage kr .kr
    AddCharset ISO-2022-KR .iso-kr
    AddLanguage no .no
    AddLanguage pl .po
    AddCharset ISO-8859-2 .iso-pl
    AddLanguage pt .pt
    AddLanguage pt-br .pt-br
    AddLanguage ltz .lu
    AddLanguage ca .ca
    AddLanguage es .es
    AddLanguage sv .se
    AddLanguage cz .cz
    AddLanguage ru .ru
    AddLanguage tw .tw
    AddCharset Big5         .Big5    .big5
    AddCharset WINDOWS-1251 .cp-1251
    AddCharset CP866        .cp866
    AddCharset ISO-8859-5   .iso-ru
    AddCharset KOI8-R       .koi8-r
    AddCharset UCS-2        .ucs2
    AddCharset UCS-4        .ucs4
    AddCharset UTF-8        .utf8
    <IfModule mod_negotiation.c>
        LanguagePriority en da nl et fr de el it ja kr no pl pt pt-br ru ltz ca es sv tw
    </IfModule>

    TypesConfig /home/perl/apache1/conf/mime.types

    #AddType application/x-httpd-php .php
    #AddType application/x-httpd-php-source .phps
    AddType  application/vnd.sun.xml.impress .sxi

    AddType application/x-tar .tgz

    AddType text/plain .pod
    AddType text/plain .patch
    AddType text/plain .c
    AddType text/plain .pl

    #AddHandler cgi-script .cgi
    #AddType text/html .shtml
    #AddHandler server-parsed .shtml

    #AddHandler send-as-is asis
    #AddHandler imap-file map

</IfModule>

# Format: Action media/type /cgi-script/location
# Format: Action handler-name /cgi-script/location
#
#MetaDir .web
#MetaSuffix .meta
#ErrorDocument 500 "The server made a boo boo.
ErrorDocument 404 /error/404.html
ErrorDocument 500 /error/500.html
#ErrorDocument 404 /cgi-bin/missing_handler.pl
#ErrorDocument 402 http://some.other_server.com/subscription_info.html

<IfModule mod_setenvif.c>
    BrowserMatch "Mozilla/2" nokeepalive
    BrowserMatch "MSIE 4\.0b2;" nokeepalive downgrade-1.0 force-response-1.0
    BrowserMatch "RealPlayer 4\.0" force-response-1.0
    BrowserMatch "Java/1\.0" force-response-1.0
    BrowserMatch "JDK/1\.0" force-response-1.0

</IfModule>

[% TRY;
     PROCESS local.tmpl;
   CATCH file; %]
     # no local.tmpl found
[% END;  %]

[% IF config.apache_reload %]
PerlModule Apache::Reload
PerlInitHandler Apache::Reload
[% END %]

PerlRequire [% root %]/apache/conf/startup.pl

#PerlHeaderParserHandler 
# Combust::UserID
#PerlTransHandler Combust::Trans

PerlPostReadRequestHandler ProxyIP Combust::Notes


NameVirtualHost *:[% config.port %]

# Default first host (so an unconfigured vhost doesn't fall back to one of the following
<VirtualHost *:[% config.port %]>
  ServerName combust-default
  DocumentRoot [% root_default %]/tmp/htdocs/
</VirtualHost>

# FIXME|TODO: make the site variable be set by a transhandler;
# likewise dispatch to /error/ - that way most site configurations can
# be merged into one virtualhost block - maybe.

[% FOREACH site = config.sites_list %]
  # [% site %] 
[% IF config.site.$site.servername;
     PROCESS "sites/${site}.tmpl";
   ELSE %] 
    # ServerName for [% site %] not configured in combust.conf!
[% END;
   END %]


