/*
 Local settings
*/

p {
    margin: 10px 0px;
}

#menu {
    float: right;
    margin: -40px;
    background-color: #858585;
    padding: .5em 1em;
}
#menu a {
    color: #fff;
}
#menu li{
    display: inline;
    padding-right: 5px;
    border-right: 2px solid #999;
}

.instructions {
    list-style-type: decimal;
    margin-top: 1em;
    margin-left: 1.5em;
}

code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.3) 0 0 5px inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.3) 0 0 5px inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.3) 0 0 5px inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.3) 0 0 5px inset;
  background: #cccccc;
  padding: 2px 5px;
  color: #000;
}

pre {
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

pre foo {
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7) -1px 1px 2px inset;
  -webkit-box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7) -1px 1px 2px inset;
  -o-box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7) -1px 1px 2px inset;
  box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7) -1px 1px 2px inset;
  background: #cccccc 760px bottom no-repeat;
  padding: 5px;
  margin: 5px 0;
}
pre code {
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0), rgba(0, 0, 0, 0) 0 0 5px inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0), rgba(0, 0, 0, 0) 0 0 5px inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0), rgba(0, 0, 0, 0) 0 0 5px inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0), rgba(0, 0, 0, 0) 0 0 5px inset;
  background: #cccccc;
  padding: 0;
}