
#add_request, #motion, #end {
/*   background:#FFFFFF; */
   background: #F5F5FF;
   width:450px;
   height:5em;
}

p.add_request {
/*  border-width: 1px;
  border-style: dotted;
  border-color: #444; */
  margin: 5px;
  padding: 8px;
}
