tmp/
*~
*.bak
*.old

runtests
cbsetup

# Module::Install things
META.yml
inc/Module/Install.pm
inc/Module/Install/

Makefile
cover_db/
pm_to_blib
blib/

logs/

combust.conf
combust.conf.testing

cpan/
junit_output.xml

docs/learn/faq/perlglossary.html
