perl  = /home/perl/bin/perl
httpd = /home/perl/apache1/bin/httpd

servername = combust.c.askask.com

#sites = www, qa, noc
sites = www, qa

# default port is 8225
port = 8230

db_data_source = dbi:mysql:database=combust;host=localhost
db_user        = combust
# db_password    = very.s3cret

# docs_name specifies the default directory name for documents (under ~user/ or $ENV{CBROOT})
# docs_name docs

# add Apache::Reload to the httpd configuration; good for development!
# apache_reload 1

[www]
servername = new.c.askask.com
aliases    = w.c.askask.com

[qa]
servername = qa.c.askask.com

[noc]
servername = qa.c.askask.com



