perl  = /usr/bin/perl
httpd = /usr/sbin/httpd

# The apache_root defaults to the directory which contains bin/httpd,
# but you can override that.
# apache_root = /etc/apache

# path to libperl.so -- the default works in any standard install
# default: `libexec path as defined by apxs`/libperl.so
# modperl_path = /opt/mod_perl/foo/libperl.so

# the servername for the combust instance
servername = combust.c.askask.com

# list of activated sites on this combust instance.  the individual
# site configuration is below in the [$sitename] section blocks and in
# apache/conf/sites/$sitename.tmpl
# default: all sites defined in [$sitename] sections are active.
# sites = www, qa

# default port is 8225
port = 8230

# external_port.  Set to a non-zero value to set the port number used
# for external redirects (301's, 302's)
external_port = 0

# source ip's allowed to be frontend proxies, where the
# X-Forwarded-For header is honored.  Defaults to 127.0.0.1. The
# special option "*" will allow any IP to set the source IP (use only
# when the httpd is "firewalled in".
# proxyip_forwarders = 127.0.0.1, 10.15.0.10, 10.15.0.11, 10.20.0.0/24

# docs_name specifies the default directory name for documents (under
# ~user/ or $ENV{CBROOT}), defaults to "docs/live".  For new applications
# you probably want just "docs".
# docs_name = docs

# add Apache::Reload to the httpd configuration; good for development! (default 0)
# 0 = disabled, 1 = enabled, 2 = enabled with debugging on
# apache_reload = 1

# use Template::Timer to insert timing information in the TT output (default 0)
# template_timer = 1

# path for log files and the httpd.pid file
# log_path = apache/logs

# path for temporary work files (compiled template cache etc)
# work_path = tmp

# Gearman Job Servers (for Combust::Gearman::* / Gearman).  Defaults to
# 127.0.0.1 on the default port.
# job_servers = 10.50.0.100, 10.50.0.101

# Memcached servers (for Combust::Cache memcached backend).
# Syntax is ip:port@weight, [ip:port@weight]
# memcached_servers = 10.50.0.100:11211@2, 10.50.0.100:11250@3

# use cronolog for logging:
# use_cronolog = 1 
#   activate cronologging
# cronolog_path = /usr/sbin/cronolog
#   path to cronolog binary
# cronolog_template = %Y/%m/LOGFILE.%Y%m%d
# cronolog_params   = -l LOGDIR/LOGFILE.latest
#   access and errror will be substituted for LOGFILE in template and
#   params.  LOGDIR is $CBROOT/apache/logs

[database-combust]
# configure database access for use with the db_open() function
data_source = dbi:mysql:database=test;host=127.0.0.1
user        = root
# password    = very.s3cret
default=1

# configure "test" database - ($dbh = db_open('test'))
# [database-test]
# data_source = dbi:...
# ...

# configure the "something" database to be an alias to the combust database configuration
# [database-something]
# alias = combust

# Apache specific configuration 
[apache]
#maxclients          = 20
#keepalive           = Off
#keepalivetimeout    = 300
#startservers        = 5
#minspareservers     = 1
#maxspareservers     = 10
#maxrequestsperchild = 500
#modules_add         = a,b
#modules_del         = c
#loglevel            = debug


# Configure sites

[www]
servername = new.c.askask.com
aliases    = w.c.askask.com, y.c.askask.com
siteadmin  = root@combust.example.com

[qa]
servername = qa.c.askask.com
# don't include this in the default sites list
disabled = 1
# bitcard_token = 324312423423abc981
# bitcard_url = https://www.bitcard.org/

[noc]
servername = noc.c.askask.com



