perl  = /home/perl/bin/perl
httpd = /home/perl/apache1/bin/httpd

servername = combust.c.askask.com

#sites = www, qa, noc
sites = www, qa

# default port is 8225
port = 8230

[www]
servername = new.c.askask.com
aliases    = w.c.askask.com

[qa]
servername = qa.c.askask.com

[noc]
servername = qa.c.askask.com



