 body    { color: black; 
        background-color: #900;
	font-family: 'Lucida Grande', verdana, arial, sans-serif;
 } 


/*
        A { color: #336666; font-family: 'Lucida Grande', verdana, arial, sans-serif; text-decoration: none;}
        A:link          { color: #336666; text-decoration: none; }
        A:visited       { color: #336666; text-decoration: none; }
        A:active        { color: #669999;  }
        A:hover         { color: #669999;  } */


 h1         { color: black;  font-size: 19px; font-weight: bold;  }
 h2         { color: black;  font-size: 16px; font-weight: bold;}
 h3         { color: black; font-weight: bold; }

#container {
        border:1px dotted #333;         
 	margin: 4px;
	font-size: 13px;
	line-height: 15px;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif; 
}

/* I don't get why I have to do this... grrh */
#content td {
	font-size: 13px;
	line-height: 15px;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif; 
}

#main {
  float: left;
  position:relative;
  width:76%;
  background:#FFF;
  margin-right:15px;
  margin-bottom:20px;
  border:1px dotted #333;	
}

#content {
  width:100%;
  margin-right:15px;
  margin-bottom:20px;
  border:1px dotted #333; 
  font-size: 13px;
  line-height: 15px;
  font-family: 'Trebuchet MS', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif; 
  background: #fff; 
}

.none, .standardsNote, .skiplinks {display:none;}

.content {
  margin-right:15px;
  margin-bottom:20px;
  background: #FFF;
  margin-top:8px;
  margin-left:8px;
}

div.spacer {
  clear: both;
  font-size: 0pt;
}

#navbar {
 margin: 0em;
 margin-right: 80px; 
 font-size: 13px;
/* float:right; */
 border-bottom: 1px #625b66 solid;
 background-color: #8c0;
 color: #524b56;
 padding-top: 1px;
 padding-bottom: 1px;
 padding-right: 5px;
 text-align: left;
 padding-left: 2px;
}

   #navbar a:link {
      text-decoration: none;     
   }

   #navbar a:visited {
      text-decoration: none;     
   }

   #navbar a:hover {
      text-decoration: underline;
   }


	#navbar .left {
		float: left;
		text-align: left;
		}

	#navbar .name {
		color: #243;
	}	

	#navbar .beta {
 		color: red; 
		margin-right:1px;
		}

        #navbar .right {
          float: right;
          text-align: right;
        } 

logo {
  display: none;
}

#content p.top-navbar a:link {
 background-color: #5c7;
 color: #323;
}

#content p.top-navbar a:visited {
 background-color: #5c7;
 color: #323;
}

#content p.top-navbar a:hover {
 background-color: #384;
 color: #dae4f0;
}

#content a {
  color: #212;
}

#content a:hover {
  color: #878;
}

#comments  {
  width: 100%;
  float: left;
  border-top: 2px solid #888;
  font-size: 10px;
  background: #fff; 
}

 .smallsmallsmall { font-size: 20% }

 .tt        { color: black; font-family: Courier } 

 .tableRow0 { background-color:#7df; }

 .tableRow1 { background-color:#7ce; }

 .error { color: #f33; }

li.linklist {
  margin-top: 10px;
  margin-right: 30px;
}

hr { height: 2px; color: #fea; border: none; background-color: #fea; border: none; }

div.hr { 
  text-align: right;
  height: 1px;
  width: 100%;
  background-color:#fff;
  border-bottom: 1px dotted #888;
  color: #000;
  border-left: none;
  border-top: none;
  border-right: none;  
  margin-bottom: 1px;
  margin-top: 10px;
}

input[type="text"],input[type="password"] {
/* border-left: none; border-top: none; border-right: none; */
 background: #ffd;
 padding-left: 3px;
 padding-bottom: 2px;
 margin-bottom: 3px; 
 border: 1px solid #8c0;
 font-family: Courier; 
 font-size: 13px;  
 color: #000;
}

textarea {
 border: 1px solid #8c0;
 font-family: Courier; 
 font-size: 12pt;  
 background: #ffd;
 color: #000;
 padding: 4px;
}

input[type="submit"] {
 border: 2px solid #8c0;
 background: #fc0;
 color: #000000;
 margin: 2px;
}

input[type="submit"]:hover {
 border: 2px solid #8c0;
 background: #fe8;
 color: #000000;
}


.sidebar {
  background:#FFCC88;
  padding:15px;				
  border:1px dotted #FFF;	
}
