/* @group Base elements */

body {
	margin: 0;
	padding: 0;
	margin-bottom: 3em;
	font-family: Verdana, Arial, sans-serif;
	/*
      this was here to prevent jitter when jumping between a long page and a short page.  turning it off to see if Robert notices anymore.
      height: 1600px;
    */

    /* set a default absolute font-size so if people change the
    default fonts/sizes in their browser, we're immune. */
	font-size: 12pt;
    background: white;
}
img{
	border:0;
}
p {
	font-size: .8em;
}

li {
	font-size: .8em;
}

h2 {
	color: #210774;
	font-size: 1.3em;
	margin: 0;
	margin-bottom: 8px;
	font-weight: 600;
	border-bottom: 1px groove #76a1da;
}

h4 {
	margin: 0px;
	margin-top: 5px !important;
	margin-bottom: 7px;
	color: #210774;
	font-size: .9em;
	font-weight: bold;
}

a {
	outline: none;
	border: none;
	color: #004065;
}

a:hover {
	color: #76a1da;
}

a img {
	border: 0;
}

.foo {
	background-color: #FF0000;
}

code {
	font-size: 1.1em;
	border: 1px solid #99F;
	padding-right: .25em;
	padding-left: .25em;
}

div p {
	margin: 3px 0px 15px 0px;
}

/* @end */

.sub_holder {
	width: 900px;
	margin: 0 auto;
    padding-left: 3px;
}

/* @group Page header */

#header_holder {
	background-color: #004065;
	float: left;
	width: 100%;
}

#page_image {
	float: left;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 19px 0px 0px 0px;
}

#header_holder h1 {
	color: #FFFFFF;
	font-family: Garamond, Times New Roman, Times, serif;
	font-size: 2em;
	font-weight: 100;
	float: left;
	width: 600px;
	padding: 0px;
	margin: 25px 0px 0px 9px;
}

#logo_holder {
	float: right;
	width: 240px;
	color: #f0f0f0;
	margin: 13px 0 0 0;
	text-align: right;
	vertical-align: bottom;
}

#logo {
	margin-left: 20px;
}

#logo_holder span {
	display: block;
	margin-top: 23px;
	color: #A4C5EB;
}

/* @end */

/* @group Crum */

#crum_holder {
	clear: both;
	background-color: #f0f0f0;
	padding: 0;
}

#crum_holder .sub_holder {
	padding: 5px 0;
	font-size: .4em;
	color: #999;
	font-family: Verdana, Arial, sans-serif;
}

#crum_holder a {
	text-decoration: none;
	color: #999999;
	padding-right: 15px;
	margin-right: 8px;
	background: transparent url(/i/arrow_grey.gif) no-repeat center right;
}

/* @end */

/* @group Top Navigation */

#nav {
	background: #004065 url(/i/tab_bg.gif) repeat-x left 4px;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

#nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}

#nav li {
	display: block;
	float: left;
	list-style: none;
	width: auto;
	font-size: 1em;
}

#nav li.sub {
	float: right;
	width: auto;
}

#nav li.selected {
	background: transparent url(/i/tab_bg_selected.gif) no-repeat left top;
}

#nav li a {
	text-transform: uppercase;
	font-size: .75em;
	text-decoration: none;
	font-weight: 500;
	color: #FFFFFF;
	display: block;
	float: left;
	width: auto;
	margin-top: 4px;
	padding: 3px 15px 3px;
	border-left: 1px solid #858585;
	border-right: 1px solid #A2A2A2;
}

#nav li.selected a {
	margin-top: 0px;
	padding: 7px 16px 3px;
	color: #000000 !important;
	background: transparent url(/i/tab_bg_r_selected.gif) no-repeat right top;
	border: none;
}

#nav li.selected a:hover {
	text-decoration: underline;
	background-color: transparent;
}

#nav li a:hover {
	background-color: #76a1da;
}

/* @end */

/* @group Main */

#main {
	float: left;
	width: 680px;
    padding-left: 3px;
}

#main p.intro {
	font-size: 1.2em;
	font-family: Arial;
	color: #004065;
	margin-bottom: 15px;
}

#main ul {
	padding-left: 8px;
	margin-left: 0px;
	margin-top: 0px !important;
}

#main ul li {
	margin-top: 0px !important;
	margin-bottom: 3px !important;
}

#main li.rss_content {
	padding: 1px;
	padding-left: 0px;
}

#main li.rss {
	background: #004065;
	color: #fff;
	padding: 3px;
	margin-left: -10px;
	padding-left: 5px!important;
}

#main li.rss a {
	color: #fff;
}

#main li.rss a:hover {
	color: #9ecb37;
}

#main th {
	text-align: left;
}

#main td {
	vertical-align: top;
}

.masthead {
	margin: 0px 0 13px 0;
	padding:32px 20px 10px 20px;
	background:#f0f0f0 url(/i/masthead/camel/camel_bg.gif) no-repeat right top;
}
.masthead .headline{
	width:500px;
	margin:0;
	font-size:240%;
	font-family:"Arial Narrow", Arial, Verdana, sans-serif;
	font-weight:bold;
	color:#004065;
}
.masthead .strap{
	width:500px;
	margin:10px 0 30px 0;
	font-size:135%;
	font-family: Arial, Verdana, sans-serif;
	color:#8FB7E5;
}
.masthead .button{
	margin:-10px 21px 0 0;
	float:right !important;
}
.cta{
	background:transparent url(/i/arrow_grey.gif) no-repeat left center;
	padding-left:12px;
}
/* @end */





/* @group Right hand links */

.short_lists {
	float: right;
	width: 190px;
}

.short_lists a {
	color: #004065;
}

.short_lists a:hover {
	color: #76a1da;
}

/* Link lists */

.quick_links {
	background-color: #f0f0f0;
	margin-bottom: 12px;
}

.quick_links h4 {
	color: #FFF;
	font-size: .8em;
	font-weight: 400;
	background-color: #004065;
	padding: 3px 1px 1px 10px;
	margin: 0px;
}

.quick_links .list {
	background-color: #f0f0f0;
	padding-bottom: 5px;
}

.quick_links .list p {
	background-color: #f0f0f0;
	padding: 0px;
	margin: 10px;
	padding-left: 5px;
}

/* Sponsor space */

#sponsor {
	background-color: #FFFFFF;
}

#sponsor a {
	color: #000000;
	text-decoration: none;
	text-align: center;
	display: block;
}

#sponsor img {
	text-align: center;
	margin: auto;
	padding: 0px;
	display: block;
}

/* @end */

/* @group Page  */

#content {
	padding-top: 10px;
}

#content li {
	margin: 8px;
}

/*#content_holder {
    padding-left: .5em;
}*/

.content_table {
	width: 100%;
	padding: 0px;
}

.content_table ul {
	padding-left: 8px;
	margin-left: 0px;
}

.content_table td {
	width: 49%;
	padding: 0 15px 0 0;
	vertical-align: top;
}

.content_table .box {
	padding: 2px 10px 2px 10px;
	background-color: #f0f0f0;
}

/* @end */

/* @group Content modules */

.module {
	background: transparent url(/i/shadow_line.jpg) repeat-x;
	padding: 10px;
}

.module h4 {
	margin: 10px 0 0 55px;
	color: #4f5b71;
}

.module h4 a {
	color: #4f5b71;
}

.module img {
	float: left;
	width: auto;
}

.module p {
	margin-left: 55px;
	font-size: .8em;
    margin-bottom: 5px;
}

/* @end */



/* @group Buttons */
.button{
	float:left;
	margin:0;
	background-color:#004065;
	padding-left:12px;
	border:1px solid #f0f0f0;
}
.button a{
	display:block;
	padding:9px 12px 9px 36px;
	color:#ffffff;
	text-transform:uppercase;
	text-decoration:none;
	font-size:120%;
	background:transparent url(/i/icons/download_arrow.gif) no-repeat left center;
}
.button a:hover{
	text-decoration:underline;
}
/* @end */



/* @group Footer */
#footer .sub_holder{
	border-top:1px solid #ccc;
	padding-top:7px;
    margin-top: 1em;
}
#footer p {
	margin: 2px 0px;
}

#footer hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

#footer .sites {
	float: left;
	width: auto;
}

#footer .copyright {
	float: right;
	width: auto;
}

#footer .copyright img {
	vertical-align: bottom;
}

/* @end */

.feature_list {
	float: right;
	width: 350px;
	border: 1px solid #191970;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

img.extlink {
	float: none;
	padding-left: .25em;
}

#google_translate_element {
    float: right;
	margin-top: -85px;
}

#spacer_for_google {
    height: 50px;
}