.dbi_book {
	height: 300px;
}

/* Overwrite main CSS as we do not have an icon (yet?) */

#page_image {
	width: 0px;
}

#header_holder h1 {
	margin: 17px 0px 0px 0px;
}

#main {
	float: right;
	width: 680px;
    padding-left: 3px;
}

.short_lists {
	float: left;
	width: 190px;
}

/* on the home page, we keep the content on the left and the sidebar
on the right, unlike everywhere else on dev */

body.section_home .short_lists {
    float: right;
}

body.section_home #main {
    float: left;
}
