#page_image {
	width: 0px;
}

#header_holder {
	background-color: #000000;
}
#header_holder h1 {
	margin: 17px 0px 0px 0px;
}

#nav {
	background: #004065 url(/i/tab_bg.gif) repeat-x left 4px;
}

.masthead .strap{
	color:#949494;
}

a {
	color: #000000;
}

#main p.intro {
	color: #000000;
}

#main li.rss {
	background: #000000;
}

.masthead .headline{
	color:#000000;
}

.short_lists a {
	color: #000000;
}

.quick_links h4 {
	background-color: #000000;
}
