
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.$site.servername %]
    [% expandServerAliases( config.site.$site.aliases ) %]

    PerlSetVar site [% site %]
    <Location />
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Basic->super
    </Location>

    <Location /search>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Search->super
    </Location>

    [% show_locations = [ 'd', 'a', 'dist', 'user' ];
       FOR loc = show_locations %]

    <Location /[% loc %]/>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Show->super
    </LocationMatch>

    [% END %]

    <Location /index.rss>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::RecentRSS->super
    </Location>

    <Location /static/>
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>


  </VirtualHost>
