
  PerlRequire [% root %]/apache/conf/sites/cpanratings.pl

  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.$site.servername %]
    [% expandServerAliases( config.site.$site.aliases ) %]
    PerlTransHandler Combust::Redirect->super

    PerlSetVar site [% site %]
    <Location />
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Basic->super
    </Location>

    <Location /logout>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Logout->super
    </Location>

    <Location /rate>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Rate->super
    </Location>

    <Location /search>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Search->super
    </Location>

    <LocationMatch ^/([da]|dist|user)/>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::Show->super
    </LocationMatch>

    <Location /csv/all_ratings.csv>
       SetHandler perl-script
       PerlHandler CPANRatings::Control::ShowAll->super
    </Location>


    <Location /error/>
       SetHandler   perl-script
       PerlHandler Combust::Control::Error->super
    </Location>
  </VirtualHost>
