
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.$site.servername %]
    [% expandServerAliases( config.site.$site.aliases ) %]

    PerlModule CPANNotify

    PerlSetVar site [% site %]
    <Location />
       SetHandler perl-script
       PerlHandler CPANNotify::Control::Basic->super
    </Location>

    <Location /sub>
       SetHandler perl-script
       PerlHandler CPANNotify::Control::Subscriptions->super
    </Location>

    <Location /api>
       SetHandler perl-script
       PerlHandler CPANNotify::Control::API->super
    </Location>

  </VirtualHost>
