
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.dbi.servername %]
    [% expandServerAliases( config.site.dbi.aliases ) %]
    PerlSetVar site dbi
    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>

  </VirtualHost>

