  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.dev.servername %]
    PerlSetVar site dev
    PerlTransHandler Combust::Redirect

    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

    <Location /server-status>
      SetHandler server-status
    </Location>

    <Location /error/>
       SetHandler   perl-script
       PerlHandler Combust::Control::Error->super
    </Location>
  </VirtualHost>
