  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.foundation.servername %]
    [% expandServerAliases( config.site.foundation.aliases ) %]
    PerlSetVar site foundation

    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>

  </VirtualHost>
