  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.ldap.servername %]
    [% expandServerAliases( config.site.ldap.aliases ) %]
    PerlSetVar site ldap
    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

  </VirtualHost>
