  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.ldap.servername %]
    [% expandServerAliases( config.site.ldap.aliases ) %]
    PerlSetVar site ldap
    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>

  </VirtualHost>
