  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.learn.servername %]
    [% expandServerAliases( config.site.learn.aliases ) %]
    PerlSetVar site learn

    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>

    <Location /redirect>
       SetHandler   perl-script
       PerlHandler +PerlOrg::Control::Books->super
    </Location>

  </VirtualHost>
