  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.learn.servername %]
    [% expandServerAliases( config.site.learn.aliases ) %]
    PerlSetVar site learn

    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

    <Location /error/>
       SetHandler   perl-script
       PerlHandler Combust::Control::Error->super
    </Location>

    <Location /server-status>
      SetHandler server-status
    </Location>
  </VirtualHost>
