  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.lists.servername %]
    [% expandServerAliases( config.site.lists.aliases ) %]
    PerlSetVar site lists

    PerlModule  PerlOrg::Control::Lists
    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Lists->super
    </Location>

    <Location /server-status>
      SetHandler server-status
    </Location>

    <Location /redirect/>
       SetHandler   perl-script
       PerlHandler +PerlOrg::Control::Books->super
    </Location>

  </VirtualHost>
