  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.perl4lib.servername %]
    [% expandServerAliases( config.site.perl4lib.aliases ) %]
    PerlSetVar site perl4lib
    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

    <Location /error/>
       SetHandler   perl-script
       PerlHandler Combust::Control::Error->super
    </Location>
  </VirtualHost>
