  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.ponie.servername %]
    [% expandServerAliases( config.site.ponie.aliases ) %]
    PerlSetVar site ponie
    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

  </VirtualHost>
