
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.qa.servername %]
    [% expandServerAliases( config.site.qa.aliases ) %]
    PerlSetVar site qa
    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

    <Location /error/>
       SetHandler   perl-script
       PerlHandler Combust::Control::Error->super
    </Location>
  </VirtualHost>

