
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.qa.servername %]
    [% expandServerAliases( config.site.qa.aliases ) %]
    PerlSetVar site qa
    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>

  </VirtualHost>

