  <VirtualHost *:[% config.port %]>
    ServerName www.redrockeater.org
    ServerAlias redrockeater.org
    PerlSetVar site rre
    DocumentRoot [% root %]/docs/live/rre/

    <Location />
       SetHandler perl-script
       PerlHandler RRE::Control->super
    </Location>

    <LocationMatch "/rss/.*\.xml">
       SetHandler perl-script
       PerlHandler RRE::Control::RSS->super
    </LocationMatch>

    <Location /error/>
       SetHandler   perl-script
       PerlHandler Combust::Control::Error->super
    </Location>

    <Location /images/>
      SetHandler default
    </Location>

    <Location /server-status>
      SetHandler server-status
    </Location>
  </VirtualHost>
