  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.$site.servername %]
    [% expandServerAliases( config.site.$site.aliases ) %]

    PerlSetVar site [% site %]

    <Location />
       SetHandler perl-script
       PerlHandler PerlOrg::Control::Basic
    </Location>

    <Location /css/>
       SetHandler perl-script
       PerlHandler PerlOrg::Control::CSS
    </Location>


  </VirtualHost>