<VirtualHost *:[% config.port %]>
   ServerName [% config.site.www.servername %]
   [% expandServerAliases( config.site.www.aliases ) %]
   PerlSetVar site www

   PerlRequire [% root %]/apache/conf/sites/www.pl

   <Location />
      SetHandler perl-script
      PerlHandler PerlOrg::Control::Basic
   </Location>

   <Location /redirect/>
      SetHandler   perl-script
      PerlHandler +PerlOrg::Control::Books->super
   </Location>

   <Location /static/css/>
      SetHandler perl-script
      PerlHandler PerlOrg::Control::CSS
   </Location>

   <Location /server-status>
     SetHandler server-status
   </Location>

   <Location /cgi-bin/>
      SetHandler cgi-script
   </Location>
   ScriptAlias /cgi-bin/ "[% root %]/apache/cgi-bin/"
   <Directory "[% root %]/apache/cgi-bin">
       AllowOverride None
       Options None
       Order allow,deny
       Allow from all
   </Directory>

 </VirtualHost>
