  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.xml.servername %]
    [% expandServerAliases( config.site.xml.aliases ) %]
    PerlSetVar site xml
    <Location />
       SetHandler perl-script
       PerlHandler Combust::Control::Basic->super
    </Location>

  </VirtualHost>
