<html>
<head>
<title>
 Perl6 Working Group Summaries
</title>
</head>

<BODY bgcolor="white" link="#690020" alink="#003600" vlink="#900000">
<STYLE rel="styleSheet" type="text/css">
 body           { color: black; font-size: 12pt; font-family: Verdana, Helvetica, Arial }
 H1             { color: black;  font-size: 18pt; font-weight: bold; font-family: Helvetica, Arial }
 H2         { color: black;  font-size: 14pt; font-weight: bold; font-family: Helvetica, Arial}
 H3         { color: black; font-weight: bold; font-family: Helvetica, Arial}
 .smallsmallsmall { font-size: 20% }
 .tt        { color: black; font-family: Courier } 
</STYLE>

<h1>Perl6 Working Group Summaries</h1>

<!--BODY-->

</body>
</html>
