
BODY {
        font-family:helvetica,san-serif;
        font-size:14px;
  	font-weight:normal;
	width: 730px;
	background-color: #FFF;
        
        }

UL	{
	list-style-type: square;
	}


A       {
	color: #003399;
	/* color: #0055BB; */
        text-decoration: none;
        }

.RIGHT   {
	text-align: right;
        }

.HOME   {
	text-align: right;
        text-decoration: underline;
        }

A:visited {
	color: #663399;
	}

A:hover {
        text-decoration: underline;
        color:darkred;
        }

TD	{
        font-size:14px;
	}

.SHADED {
        background-color: #d2b48c;
        font-size:14px;
        font-weight: bold;
        font-family:helvetica,san-serif;
        }

/* Header */
.BANNER {
        font-weight: bold;
        font-size:18px;
	color: #fff;
        font-family:helvetica,san-serif;
        background-color:#191970;
        padding-top: .5em;
        padding-left:.5em;
        padding-bottom:.5em;
	line-spacing: 2px;
        }

/* Navigation */
#NAV {
        /* position:fixed; */
        /* overflow: auto; */
        float: left;
 	width: 180px;
        font-size:12px;
        margin:0em; 
        margin-top: -1px; 
        padding:7px;
        background-color:#eee;
        border-right:1px solid #191970;
        border-left:1px solid #191970;
        }

.SIDE   {
	width: 175px;
	}

#MAIN {
        font-size:12px;
        margin-top:1em;
        margin-left:1em;
	}

.INDENT {
        font-size:12px;
        margin-left:1em;
        }

.BEGINNER  {
        font-size:12px;
        border:1px solid orange;
	background-color: lemonchiffon;
        padding:7px;
	width: 400px;
	}

.NAVITEM  {
        padding-right:2px;
        padding-left:2px;
        padding-bottom:1em;
        padding-top:1em;
	width: 180;
	}

.MENU  {
        padding-bottom:1em;
	width: 180;
        border-bottom:1px solid #191970;
	}

.TOPIC {
        font-weight: bolder;
        font-size: 16px;
	color: #191970;
        font-family:helvetica,san-serif;
        text-decoration: underline;
	padding-bottom: 4px;
        }

.NAVLINE  {
        font-size:12px;
	}
.SMALL  {
        font-size: xx-small;
        }

.TITLE  {
	color: #ccff66;
	}

.ITEMS  {
        font-size:14px;
        }

.CR  {
        border-left: 1px solid #191970;
        border-right: 1px solid #191970;
        border-bottom: 1px solid #191970;
	width: 180px;
        background-color:#eee;
	color: #333;
        padding:7px;
        font-size: x-small;
        }

.DESCRIPTION  {
        padding-bottom:1em;
        padding-right:1em;
        }

.FOOTER {
        font-size: 12px;
        padding-top: 3px;
        border-top:2px solid #191970;
	margin-top: -10px
        }


HR      {
	color: #191970;
	align: center;
        padding-top: .5em;
        padding-bottom:.5em;
	}

.CAMEL  {
	float: right;
	/* margin-top: -5em; */
	}

H3     {
	color: #000;
        font-size: 14px;
        font-family:verdana,helvetica,san-serif;
        font-weight: bolder;
	}
	
TR	(
	vertical-align: top;
	}

