a {
    text-decoration: none;
}

h3.review_header {
    margin-top: 0em;
    margin-bottom: 0.25em;
    padding: 4px;
    background-color: #cccccc;
    border-top: solid 1px #004065;
}

#page_image {
    background: transparent url([% combust.static_url("/images/icons/community.png") %]) no-repeat left top;
}

#twitter { float: right; width: 300px;  }

div.review {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

div.review_footer {
    margin-left: 40px;
}

div.helpfulq {
        font-style: italic;
        font-size:90%;
        color: #444;
        display: inline;
}

p.review_attribution {
        margin-bottom: 0em;
}

blockquote.review {
	border-left: 1px dotted #004444;
	padding-left: 0.7em;
	margin-left: 0.8em;
	/* line-height: 150%; */
}

span.helpful {
   cursor:pointer;
   text-decoration: underline;
}

span.error { color: red; }

span.vote_thanks {
  color:#990000;
  margin-left:5px;
  display: none;
}

#show_unhelpful {
  margin-top: 30px;
  cursor:pointer;
  text-decoration: underline;
}
