 /* CSS for perl-ldap site */
 

div#banners {
       width: 150px;
       float: right;
       margin-top: 45px;
       margin-left: 30px;
       margin-right: 10px;
       margin-bottom: 50px;
}

div.books p {
   margin-bottom: 15px;
}

br.clearall { clear: both }
