/* Site specific css */

#os_table {
    width: 100%;
}
#os_table td {
    vertical-align: middle;
}
.installLinks {
    border: 1px solid #999;
    margin-top: 5px;
    padding: 5px;
    float: right;
    background-color: #cccccc;
    list-style-type: none;        
}

.instructions {
    list-style-type: decimal;        
}

.text {
    font-size: 0.8em;
}

code {
    background-color: #E5E5E5;
    border: 0;
}

/* @group home page example list */

#examplesList {
    width: 45%;
    float: right;
}

#examplesList li {
    list-style-type: none;
}


#examplesList li {
    list-style-type: none;
}


/* @group Book lists */

.book {
	float: left;
	width: 100%;
	border-top: 1px solid #b8b8b8;
	margin-top: 15px;
	padding-top: 15px;
}

.book .title {
	font: 120% Verdana, Arial, sans-serif;
}

.book .author {
	font-size: 80%;
}

.book .description {
	font-size: 80%;
	width: 70%;
}

.book .buy {
	font-size: 80%;
}

.book .amazon {
	float: right;
	width: auto;
}

/* @end */

/* @group Not used */

#page_image {
	background: transparent url("/static/images/icons/learn.png") no-repeat left top;
}


/*
Changes added by Kam
*/
#content_holder{
    overflow:hidden;
}

.clear { 
    clear:both;
}

#main ul.large h4, ul.small h4 {
    background:#004065;
    color:#fff;
    padding:2px 5px;
    font-size:14px;
    font-weight:normal;
}

#main ul.large {
    list-style:none;
    float:left;
    width:55%;
    padding: 0px;
}

#main ul.large li {
    margin: 0;
    padding:4px 0;
}

#main ul.large li a {
    padding: 5px 0;
    text-decoration:none;
}

#main ul.small{
    float:right;
    width:40%;
    font-size:14px;
    padding: 0px;
    padding-left: 0px !important;
    margin: 0px;
}

#main ul.small li {
    margin: 0 0 0 15px;
    padding: 2px 0;
}