/* Site specific css */

#os_table {
    width: 100%;
}
#os_table td {
    vertical-align: middle;
}
.installLinks {
    border: 1px solid #999;
    margin-top: 5px;
    padding: 5px;
    float: right;
    background-color: #cccccc;
    list-style-type: none;        
}

.instructions {
    list-style-type: decimal;        
}

.text {
    font-size: 0.8em;
}

code {
    background-color: #E5E5E5;
    border: 0;
}

/* @group Book lists */

.book {
	float: left;
	width: 100%;
	border-top: 1px solid #b8b8b8;
	margin-top: 15px;
	padding-top: 15px;
}

.book .title {
	font: 120% Verdana, Arial, sans-serif;
}

.book .author {
	font-size: 80%;
}

.book .description {
	font-size: 80%;
	width: 70%;
}

.book .buy {
	font-size: 80%;
}

.book .amazon {
	float: right;
	width: auto;
}

/* @end */

/* @group Not used */

#page_image {
	background: transparent url([% combust.static_url("/images/icons/learn.png") %]) no-repeat left top;
}
