.dbi_book {
	height: 300px;
}

/* Overwrite main CSS as we do not have an icon (yet?) */

#page_image {
	width: 0px;
}

#header_holder h1 {
	margin: 17px 0px 0px 0px;
}

.phalanx_table {
	width:  100%;
	font-size: .8em;
}