/* Site specific css */

/* @group Book lists */

.book {
	float: left;
	width: 100%;
	border-top: 1px solid #b8b8b8;
	margin-top: 15px;
	padding-top: 15px;
}

.book .title {
	font: 120% Verdana, Arial, sans-serif;
}

.book .author {
	font-size: 80%;
}

.book .description {
	font-size: 80%;
	width: 70%;
}

.book .buy {
	font-size: 80%;
}

.book .amazon {
	float: right;
	width: auto;
}

/* @end */

/* @group Not used */

.section_home #page_image {
	background: transparent url([% combust.static_url("/images/icons/camel.png") %]) no-repeat left top;
}

.section_about #page_image {
	background: transparent url([% combust.static_url("/images/icons/info.png") %]) no-repeat left top;
}

.section_docs #page_image {
	background: transparent url([% combust.static_url("/images/icons/docs.png") %]) no-repeat left top;
}

.section_events #page_image {
	background: transparent url([% combust.static_url("/images/icons/cal.png") %]) no-repeat left top;
}

.section_learn #page_image {
	background: transparent url([% combust.static_url("/images/icons/learn.png") %]) no-repeat left top;
}

.section_blogs #page_image {
	background: transparent url([% combust.static_url("/images/icons/rss.png") %]) no-repeat left top;
}

.section_cpan #page_image {
	background: transparent url([% combust.static_url("/images/icons/cpan.png") %]) no-repeat left top;
}

.section_community #page_image {
	background: transparent url([% combust.static_url("/images/icons/community.png") %]) no-repeat left top;
}

.section_contribute #page_image {
	background: transparent url([% combust.static_url("/images/icons/cog.png") %]) no-repeat left top;
}

.section_download #page_image {
	background: transparent url([% combust.static_url("/images/icons/onion_download.png") %]) no-repeat left top;
}

/* @end */

.section_cpan li.rss_content {
	float: left;
}