
h3.review_header { margin-top: 0em; }

span.helpfulq { font-style: italic; font-size:90%; color:#444; }

blockquote.review {
	border-left: 1px dotted #004444;
	padding-left: 0.7em;
	margin-left: 0.8em;
	/* line-height: 150%; */
}
