 /* CSS for perl-ldap site */
 
body,html {
	background-image: url(Knuellpap.jpg);
	padding: 0px;
        font-family:helvetica,sans-serif;
        font-size:14px;
  	font-weight:normal;
	width: 730px;
	background-color: #FFF;
}
TD.BANNER {
 	text-align: center;
	padding: 1ex;
	font-size: 36px;
	font-weight: bold;
}
div#banners {
	width: 100px;
	float: left;
	margin-left: 10px;
}
div#content {
	padding-right: 20px;
	padding-left: 20px;
	width: auto;
	margin-left: 120px;
}
div.section {
	padding: 8px;
	margin-top: 0px;
}
div.section h2  {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	font-size: 130%;
}
div#banners ul {
	padding-left: 1em;
}
p.revision {
	font-size: small;
	font-style: italic;
}
a:link {
	color: #005555;
}
a:visited {
	color: #AA0000;
}
a:active {
	color: #006666;
}
div.section h3 {
	font-size: 110%;
}
img {
	border: 0px;
}
/* for default style */
.FOOTER {
        font-size: 12px;
        padding-top: 3px;
        border-top:2px solid #191970;
	margin-top: -10px
        }
