.showtitle {
 font-family: arial, helvetica, sans-serif;
 font-size: 64pt;
}
.where {
 font-family: Arial;
 font-size: 24pt;
 color: white;
}

.tim {
 font-family: Arial;
 font-size: 24pt;
 color: yellow;
}
.title { 
 font-family: Arial;
 font-size: 48pt;
}
.splash { 
 font-family: Arial;
 font-size: 36pt;
}
.intro {
 font-family: Arial;
 color: white;
 font-size: 24pt;
}
.point {
 font-family: Arial;
 color: white;
 font-size: 24pt;
}
.dt {
 font-family: Courier New;
 color: yellow;
 font-size: 24pt;
 font-weight: bold;
}
.dd {
 font-family: Arial;
 color: white;
 font-size: 24pt;
}
.question {
 font-family: Arial;
 color: yellow;
 font-size: 36pt;
}
.number {
 font-family: Arial;
 color: red;
 font-size: 24pt;
}
.nt {
  color: pink;
}
.term {
  color: yellow;
}
.big-eg {
  font-size: 24pt;
  font-weight: bold;
  color: yellow;
}
tt {
  color: yellow;
}
.code {
 font-family: Courier;
 color: white;
 font-weight: bold;
 font-size: 24pt;
}
.eg {
 font-family: Arial;
 color: white;
 font-weight: bold;
 font-size: 24pt;
}
